{% include 'header.html' %}

<div class="container" role="main">
    <div class="jumbotron">
        <h1>Welcome to Yahtzee!</h1>
    </div>
    <div class="containers">
        <div class="containerss" id="first">
            <form role="form" method="POST" action="url_for{{'reroll dic'}}"></form>
            <fieldset>
            <table><tr>
                
            {% for die in handen.dice %}
                <td>
                <img src="{{ url_for('static',filename='img/'+die.get_name()+'.png') }}" width="70">
                <input type="checkbox" id="{{die.get_name()}}" name="{{die.get_name()}}" class="checkbox-inline">
            </td>
                {% endfor %}
            </tr><tr><td><button type="submit" id="reroll" class="btn btn-default">Reroll</button></td></tr>
        </table>
        </fieldset>
    </form>   
    </div>
        <div class="containerss" id="second">
            <table class="scoreTable">
                <thead class="scorehead">
                    <tr>
                        <th class="scoreentry">Choose</th>
                        <th class="scoreentry">Worth</th>
                        <th class="scoreentry">Rule</th>
                        <th class="scoreentry">Already scored</th>
                    </tr>
    
                
                </thead>
                <fieldset>
                {% for key, value in sb.points.items() %}
                <tr class="scoreentry">
                    <td class="scoreentry"><input type="radio" id="1" name="1" value="huey"/></td>
                    <td class="scoreentry">??</td>
                    <td class="scoreentry">{{key}}</td>
                    <td>
                        {% if value==-1 %}
                            -
                        {% else %}
                            {{value}}
                        {% endif %}
                        </td></tr>
                </tr>
                {% endfor %}
                <tr><td><button type="submit" id="score" class="btn btn-default">Score</button></td></tr>
            
            
            </fieldset>
                
            </table>
        </div>
    </div>
</div>

{% include 'footer.html' %}

