{% include 'header.html' %}

<div class="container" role="main">
    <div class="w-100">
        <div class="w-100">
            <form role="form" method="POST" action="{{url_for('change_dictionary')}}">
            <fieldset>
            <table class="table_ex"><tr><td colspan="5" class="td_bg"><h3>Current dictionary, filename: {{filename}}</h3></td></tr>
                <tr><td colspan="5" class="td_bg"><h3>...</h3></td></tr>
                <tr><td colspan="5" class=""><H4>Enter a word:</H4><br></td></tr>
                    
                    <tr><td colspan="5" height="25px">  
                    <select id="word_list" name="word_list">
                        <option value="tiny_dictionary.txt">tiny_dictionary.txt</option>
                        <option value="dictionary.txt">dictionary.txt</option>
                    </td>
                         </tr><tr><td><span>&nbsp;</span></td><td>&nbsp;</td><td colspan="1"><button type="submit" id="change" class="btn">Change</button></td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
        </fieldset>
    </form>   
    </div>
    </div>
</div>

{% include 'footer.html' %}

