{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Redovisning</h1>
        <h3>Krav 1</h3>
        <p>Delar av trie har varit svårt att sätta sig in och få att fungera. När man dock
            klarat av en del så gick det använda till andra delar.
            Delen med Flask, session och webbsidorna kändes ganska lätt och väldigt rolig.
            Där märks det att jag har fått betydligt bättre
        </p>
        <h3>Krav 2</h3>
        <p>UML-diagrammet känns inte så svårt, men däremot är det svårt att veta om man har gjort rätt.
            Det är väldigt bra stöd för att se hur det hänger ihop.
            Det som skiljer från den  färdiga koden och UML-diagrammet är ...
            
        </p>
        <h3>Krav 3</h3>
        <p>Testning över lag gick ganska bra, men när jag gjorde andra ändringar i trie.py, så blev det fel här.
            Mitt största problem på slutet var att jag råkat skriva return SearchMiss istället för raise SearchMiss. 
            När jag sedan ändrade det så fungerade det direkt. Det annars lite lurigt ibland att fundera ut hur man ska 
            formulera testen för att testa det man har tänkt. 

        </p>
        <h3>Krav 4</h3>
        <p>Den här kravet kändes enklast att inplementera av de olika kraven. Det svåraste delen var att få ordning på flyttalen och 
            plocka ut dem på rätt sätt. Jag gjorde sedan en bubblesort för att lägga orden i storleksordning.
            Sedan en for-sats för att plocka fram de orden som låg överst på listan. Det extra kravet vållade inte så mycket problem, 
            utan det var metoden för prefix som var det kluriga, som jag länge hade problem med.
        </p>
        <h3>Krav 5</h3>
        <p></p>
        <h3>Allmänt</h3>
        <p>Jag var inställd på att det här skulle vara en svår kurs. Jag har tidigare 
            läst kurs i Objektorienterad Java och den var det mycket jobb med.
            Det mest frusterande är att man kör fast på några enstaka saker. När man på något 
            sätt kommer på lösningen eller får hjälp, så är det ofta något enstaka syntax som blivit fel.
            När jag jobbade med det här slutprojektet märkte jag allt jobb med webbsidorna och app.py 
            gick mycket lättare än tidigare. Det var roligt att märka.
            Jag tycker att det är svårt projekt, men jag kan inte säga att det är svårare än 
            det borde vara. Det tar helt enkelt mycket tid.
        </p>
        <h3>Tankar om kursen</h3>
        <p>Kursen har varit mycket lärorik. Jag har fått mycket bättre insikt i hur olika datastrukturer fungerar.
            Annars är jag mest van att använda datastrukterna och inte bygga dem själv. Jag har även blivit bättre på rekursion, 
            även om jag fortsatt tycker att det kan vara svårt. Det känns som tekniken med routrar och Flask är modern teknik.
            Ibland har det varit lite tufft att jobba på egen hand på distans, eftersom det är en så pass svår kurs. (Enligt mig)
            Jag ger kursen en 9. Jag rekommenderar kursen till kollegor, men skickar med att de kommer få lägga ner mycket tid.
        </p>



        <p>Mitt akronym på BTH: {{ acro }} </p>
        
    </div>
</div>

{% include 'footer.html' %}